<div id="main-content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-sm-12">
                    <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i
                                class="fa fa-arrow-left"></i></a> Product Management </h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/admin"><i class="icon-home"></i></a></li>
                        <li class="breadcrumb-item">Table</li>
                        <li class="breadcrumb-item active">Product details</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <div class="header">
                        <h2>product Details <small>view the product details</small> </h2>
                    </div>
                    <div class="container col-md-2 float-right">
                        <a href="/addProduct" class="btn btn-success btn-lg btn-block">Add Product</a><br>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table id="view-products"
                                class="table css-serial table-bordered table-hover js-basic-example dataTable table-custom">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Name</th>
                                        <th>Category</th>
                                        <th>Description</th>
                                        <th>Images</th>
                                        <th>Price</th>
                                        <th>Offer</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each products}}
                                    <tr>
                                        <td></td>
                                        <td>{{this.Name}}</td>
                                        <td>{{this.Category}}</td>
                                        <td>{{this.Description}}</td>
                                        <td>
                                            <img style="width: 50px; height:50px;"
                                                src="/product-images/{{this._id}}1.jpg" alt="">
                                            <img style="width: 50px; height:50px;"
                                                src="/product-images/{{this._id}}2.jpg" alt="">
                                            <img style="width: 50px; height:50px;"
                                                src="/product-images/{{this._id}}3.jpg" alt="">
                                        </td>
                                        {{#if this.ActualPrice}}
                                        <td>{{this.ActualPrice}}</td>
                                        {{else}}
                                        <td>{{this.Price}}</td>
                                        {{/if}}
                                        <td><button class="btn btn-warning" data-toggle="modal"
                                                data-target="#creatOffer{{this._id}}">Offer</button>
                                        </td>
                                        <td><a href="/editProduct/{{this._id}}" class="btn btn-primary">Edit</a></td>
                                        <td><a href="/deleteProduct/{{this._id}}" class="btn btn-danger"
                                                onclick="return confirm('Are you want to delete {{this.Name}}')">Delete</a>
                                        </td>
                                        <div class="modal fade" id="creatOffer{{this._id}}" tabindex="-1" role="dialog"
                                            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLongTitle">Create Offer
                                                            Discount</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form action="/createDiscount" method="POST"
                                                            class="needs-validation">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" name="proId"
                                                                    value="{{this._id}}" placeholder="Product Id"
                                                                    hidden>
                                                                {{#if this.ActualPrice}}
                                                                <input type="number" class="form-control"
                                                                    name="proPrice" value="{{this.ActualPrice}}"
                                                                    placeholder="Price" hidden>
                                                                {{else}}
                                                                <input type="number" class="form-control"
                                                                    name="proPrice" value="{{this.Price}}"
                                                                    placeholder="Price" hidden>
                                                                {{/if}}
                                                                <label>Discount Percentage</label>
                                                                <input type="number" class="form-control"
                                                                    name="proDiscount" maxlength="2"
                                                                    placeholder="Discount Percentage" required>
                                                                {{!-- <div class="invalid-feedback">
                                                                    Please enter a valid number
                                                                </div> --}}
                                                                <label>Valid From</label>
                                                                <input type="date" id="datepicker" class="form-control"
                                                                    name="ValidFrom" placeholder="Valid From"
                                                                    onchange="handler(event)" required>
                                                                {{!-- <div class="invalid-feedback">
                                                                    Please enter a valid date
                                                                </div> --}}
                                                                <label>Valid To</label>
                                                                <input type="date" id="datepicker2" class="form-control"
                                                                    name="ValidTo" placeholder="Valid To" required>
                                                                {{!-- <div class="invalid-feedback">
                                                                    Please enter a valid date
                                                                </div> --}}
                                                            </div>
                                                            <button type="submit" id="createDiscount"
                                                                class="btn btn-warning save">Create Offer</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#view-product').DataTable();
    });
</script>

{{!--
<script>
    $(document).ready(() => {
        $("#product-offer").validate({
            rules: {
                proDiscount: {
                    required: true,
                    maxlength: 2
                },
                ValidFrom: {
                    required: true
                },
                ValidTo: {
                    required: true
                }
            }
        });
    });
</script> --}}

<script>

    function handler(e) {
        var first = e.target.value
        document.getElementById('datepicker2').min = first
    }
</script>

{{!-- <script>
        $(function () {
        var dtToday = new Date();
        var month = dtToday.getMonth() + 1;
        var day = dtToday.getDate();
        var year = dtToday.getFullYear();
        if (month < 10)
            month = '0' + month.toString();
        if (day < 10)
            day = '0' + day.toString();
        var maxDate = year + '-' + month + '-' + day;
        $('#datepicker').attr('min', maxDate);
        $('#datepicker2').attr('min', maxDate);
    });
</script> --}}


<style>
    .css-serial {
        counter-reset: serial-number;
    }

    .css-serial td:first-child:before {
        counter-increment: serial-number;
        content: counter(serial-number);
    }
</style>


{{!--
<script>
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();

    .invalid input: required: invalid {
        background: red;
    }

</script> --}}