<style>
    table {
        border: 1px solid #ccc;
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        width: 100%;
        table-layout: fixed;
    }

    table caption {
        font-size: 1.5em;
        margin: .5em 0 .75em;
    }

    table tr {
        background-color: #f8f8f8;
        border: 1px solid #ddd;
        padding: .35em;
    }

    table th,
    table td {
        padding: .625em;
        text-align: center;
    }

    table th {
        font-size: .85em;
        letter-spacing: .1em;
        text-transform: uppercase;
    }

    @media screen and (max-width: 600px) {
        table {
            border: 0;
        }

        table caption {
            font-size: 1.3em;
        }

        table thead {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }

        table tr {
            border-bottom: 3px solid #ddd;
            display: block;
            margin-bottom: .625em;
        }

        table td {
            border-bottom: 1px solid #ddd;
            display: block;
            font-size: .8em;
            text-align: right;
        }

        table td::before {
            /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
            content: attr(data-label);
            float: left;
            font-weight: bold;
            text-transform: uppercase;
        }

        table td:last-child {
            border-bottom: 0;
        }
    }
</style>
<div class="container">
    <div class="row">
        <div class="ml-auto mr-auto" style="margin-top: 6rem; margin-bottom: 21rem;">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        {{#if coup.coupon}}
                        <tr>
                            <th scope="col">Coupon Code</th>
                            <th scope="col">Discount</th>
                        </tr>
                        {{/if}}
                    </thead>
                    <tbody>
                        {{#if coup.coupon}}
                        <tr>
                            <td scope="row" data-label="Coupon Code">{{coup.coupon.Coupon}}</td>
                            <td data-label="Discount">{{coup.coupon.Offer}}%</td>
                        </tr>
                        {{else}}
                        <h2 class="text-center" style="margin-top: 25rem;">You don't have Coupons</h2>
                        {{/if}}
                        {{#if coupArray}}
                        {{#each coupArray}}
                        <tr>
                            <td scope="row" data-label="Coupon Code">{{this.Coupon}}</td>
                            <td data-label="Discount">{{this.Offer}}%</td>
                            <td data-label="Status">{{#if this.$status}} Valid{{else}}Expired{{/if}}</td>
                        </tr>
                        {{/each}}
                        {{/if}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>